/* Main file for @mixins and variables */

$main_red_color: linear-gradient(#c41200, #af0606);
$text_red_color: #c41200;
$width: 800px;

@mixin style_link(){
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-weight: 600;
	border: 1px solid #7b0000;
	background: #a20000;
	background-image: linear-gradient(#be0100 4%, #a20000 5%, #7c0000);
	border-radius: 3px;
	line-height: 18px;
	padding: 7px;
}

@mixin style_input_focus(){
	outline: none !important;
  color: $text_red_color;
  border: 1px solid $text_red_color;
  box-shadow: 0 0 5px $text_red_color;
}

@mixin style_img(){
	border: 2px solid #951102;
	padding: 2px;
	border-radius: 4px;
	position: relative;
}

@mixin style_ul_reviews(){
		ul{
		margin: 5%;

		li{
			list-style-type: circle;

			a{
				text-decoration: none;
				color: $text_red_color;

				&:hover{
					text-decoration: underline;
				}
			}

		}
		.arrenge_endorsement{
			margin-bottom: 15px;
		}
	}
}
