/* Form Styles */

@import 'base';

.wrapper form{

	width: ($width/1.4);

	input{

		width: ($width/1.5);
		height: 25px;
    margin-bottom: 30px;
    font-size: 20px;

    &[type="submit"]{
			
			@include style_link();
      height: 30px;
    }

    &[type=file] { @include style_link() }

    &:focus{ @include style_input_focus(); }

    &:focus[type="checkbox"]{
			  outline: none !important;
	      color:none;
	      border: none;
	      box-shadow: none;
	  }
	}

	textarea{
		
		width: 400px;
		height: 80px;
		font-size: 15px;
		
		&:focus{ @include style_input_focus(); }
	}

	label[for=user_remember_me]{
  	float: right;
		position: relative;
		top: -48px;
		right: 430px;
  }

  label[for=restaurant_description]{ float: left }
}

a[href="/users/password/new"],
.extra_style_devise{
	float: right;
	position: relative;
	top: -25px;
}

::-webkit-input-placeholder{
	color: rgba(196,18,0,0.5);
}

:focus::-webkit-input-placeholder { color:transparent; }


// class new_restaurant --> edit and padding: 

// class new_user  -->

// class new_review --> reviews