/* Styles Restaurant */

@import 'base';



.resraurant{
		
	width: ($width/2)+50;
	padding: 2%;
	margin: 50px auto;
	border: 1px solid #ccccc8;
	box-shadow: 0px 0px 1px;

	img{ 
		
		@include style_img();		
		float: right;
	}

	h1{
		font-size: 30px;
		font-weight: lighter;
		text-align: center;
		color: $text_red_color;
	}

	h6{ font-weight: 300 }

	p{ margin: 5% }

	.link_cont{
		
		display: inline-block;
		width: ($width/4)+20;
		margin: 1% ($width/8);

		a.link{ 

			@include style_link();
			font-size: 13px;
			font-weight: 100;
		}
		
	}

	@include style_ul_reviews();

	span:last-child{
		color: $text_red_color;
	}
}

