// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'base';

*{
  margin: 0 auto;
  font-family: sans-serif;
}

html{
	background-color: #F5F5F1;
}

@import 'header';
@import 'wrapper';
@import 'restaurant';
@import 'forms';
@import 'show';

footer{
	img{
		width: $width;
		margin: 30px 250px;
	}
}




















