// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main_red_color: linear-gradient(#c41200, #af0606);
$width: 800px;


@mixin style_link(){
	text-decoration: none;
	color: white;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 600;
	border: 1px solid #7b0000;
	background: #a20000;
	background-image: linear-gradient(#be0100 4%, #a20000 5%, #7c0000);
	border-radius: 3px;
	line-height: 18px;
	padding: 7px;
}

*{
  margin: 0 auto;
}

html{
	background-color: #F5F5F1;
}

header{
	background: url(/assets/header_stars.png) no-repeat center, $main_red_color;
	background-size: 1380px auto,100%;
	padding: 20px;

	section{
		width: $width;
		
		img{
			width: $width/8;
		}

		div{
			
			float: right;
			position: relative;
			top: 18px;
			
			a.link{
				@include style_link();
			}
			
		}

	}
}
